/* *
  |============================
  | TASK 3
  |============================
* */

.gallery {
  display: flex;
  gap: 15px;
  flex-direction: row;
  margin-top: 150px;
  list-style: none;
}
.image {
  padding: 2px;
  border: darkmagenta dashed 4px;
}

/**
  |============================
  | TASK 6
  |============================
*/
#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
